.App {

  font-family: sans-serif; 

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: cornflowerblue;
  color: aliceblue;
  
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
